#registerForm {
    margin: auto;
    width: 50%;
    padding: 10px;
    background: #f4f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#registerFormBtn.center-align {
    background: #f4f2f2;
}